@media (min-width : 1200px) {

  .landing-right-side{
    overflow-y: scroll;
  }

  .landing-left-side{
    overflow: hidden;
  }
  .full-height{
    height: 100vh;
  }


}
@media only screen and (min-width : 768px) {

  .dropdown:hover .dropdown-menu {
      display: block;
      margin-top: 0; // remove the gap so it doesn't close
   }


}
@media(max-width: 1199px) {
  .landing-container{
    padding-top: 0px;
  }
  .landing-left-side{
    padding-top: 50px;
    padding-bottom: 75px;
  }
}




body, html{

  font-family: 'Poppins', sans-serif;
  background-color: #FFFFFF;
  height: 100%;
}  

*{
  font-size: 14px;

}

p {
  font-size: 1.3em;
  line-height: 1.7;

}
li {
    font-size: 1.3em;
  line-height: 1.7;
}

hr{ 

border-top:1px #CCCCCC solid;

}
p a{
      font-size: 1.0em;
  line-height: 1.7;
}

.hr-bold{ 

  border-top: 4px #808080 solid;
}
/*landing pages*/




.landing-left-side, .landing-right-side{
  height: 100%;

}

.landing-left-side{
  font-weight: bold;
}

.landing-right-side{

  background-color: #FFFFFF;
}

.landing-vert-center{
  height: 100%;
  display: flex;
  align-items: center;
}


.landing-header{
  font-size: 400%;
  font-weight: bolder;
  padding-bottom: 5px;
}


.landing-bg-dark {
  background-color: #f2b632;
  color: #000000;
}

.landing-bg-light {

}

.post-preview{
  padding-top: 10px;
  padding-bottom: 10px;
  
}

.post-preview-header{
  font-weight: bolder;
}

.post-preview-description{
  padding-top: 5px;
  line-height: 1.3;
}

.post-preview-summary{

}

.blog-post{
  padding-top: 25px;
  
}

.blog-post-header{
  font-weight: bolder;
  text-orientation: center;
  font-size: 300%;
}

.blog-post-description{

}

.blog-content{
  font-size: 18px;
  line-height: 1.8;
}
.top-banner{
  background-color: #f2b632;
  min-height: 250px;
  margin-bottom: 0px;
}


.blog-container{
  background-color: #FFFFFF;
  padding-top: 40px;

}

.image-container {
  display: flex;
  justify-content: center;
}


/*navbar-settings*/

.navbar{
  margin: 0px;
}

.panel-primary>.panel-heading{
  padding-top: 5px;
  padding-bottom: 2px;
}


/*footer-settings*/

.footer-container {
  background-color: #3b3b3b;
  height: 250px;
}

.footer{
  margin-bottom: 0px;
}





a.timeline-button:hover{
  color: #235580;
  text-decoration: none;
}
a.timeline-button{
  color: #3174ae;
}

a{
  color: #000000;
}

a:hover{
  color: #999999;
  text-decoration: none;
}

.btn-default{
  background: #FFFFFF;
  border: solid 1px #999999;
}
.btn:hover{
  background: #999999;
}


.white-bg{
    background:#ffffff !important;
    padding-top: 10px;
    padding-bottom: 10px;
}

.login{
  margin-top: 100px;
}

.drop-shadow {
    -webkit-box-shadow: 0 0 3px 2px rgba(0, 0, 0, .5);
    box-shadow: 0 0 3px 2px rgba(0, 0, 0, .5);
}

.indent-instruct{
  margin-left: 15px;
  margin-right: 15px;
}





