@media (min-width : 1200px) {

  .landing-right-side{
    overflow-y: scroll;
  }

  .landing-left-side{
    overflow: hidden;
  }
  .full-height{
    height: 100vh;
  }


}
@media only screen and (min-width : 768px) {

  .dropdown:hover .dropdown-menu {
      display: block;
      margin-top: 0; // remove the gap so it doesn't close
   }



}
@media(max-width: 1199px) {
  .landing-container{
    padding-top: 0px;
  }
  .landing-left-side{
    padding-top: 50px;
    padding-bottom: 75px;
  }
}

body, html{

  font-family: 'Poppins', sans-serif;
  background-color: #FFFFFF;
  height: 100%;
}  

*{
  font-size: 14px;

}

p {
  font-size: 1.3em;
  line-height: 1.7;

}
li {
    font-size: 1.3em;
  line-height: 1.7;
}

hr{ 

border-top:1px #CCCCCC solid;

}
p a{
      font-size: 1.0em;
  line-height: 1.7;
}

.hr-bold{ 

  border-top: 4px #808080 solid;
}
/*landing pages*/




.landing-left-side, .landing-right-side{
  height: 100%;

}

.landing-left-side{
  font-weight: bold;
}

.landing-right-side{

  background-color: #FFFFFF;
}

.landing-vert-center{
  height: 100%;
  display: flex;
  align-items: center;
}


.landing-header{
  font-size: 400%;
  font-weight: bolder;
  padding-bottom: 5px;
}


.landing-bg-dark {
  background-color: #ffaf00;
  color: #000000;
}

.landing-bg-light {

}

.post-preview{
  padding-top: 10px;
  padding-bottom: 10px;
  
}

.post-preview-header{
  font-weight: bolder;
}

.post-preview-description{
  padding-top: 5px;
  line-height: 1.3;
}

.post-preview-summary{

}

.blog-post{
  padding-top: 25px;
  
}

.blog-post-header{
  font-weight: bolder;
  text-orientation: center;
  font-size: 300%;
}

.blog-post-description{

}

.blog-content{
  font-size: 18px;
  line-height: 1.8;
}
.top-banner{
  background-color: #ffaf00;
  min-height: 250px;
  margin-bottom: 0px;
}


.blog-container{
  background-color: #FFFFFF;
  padding-top: 40px;

}

.image-container {
  display: flex;
  justify-content: center;
}


/*navbar-settings*/

.navbar{
  margin: 0px;
}

.panel-primary>.panel-heading{
  padding-top: 5px;
  padding-bottom: 2px;
}

/*navbar-imported settings*/


.navbar-default {
  background-image: none;
  background-color: #333333;
  border-color: #000000;
}
.navbar-default .navbar-brand {
  color: #ffffff;
}
.navbar-default .navbar-brand:hover,
.navbar-default .navbar-brand:focus {
  color: #ffaf00;
}
.navbar-default .navbar-text {
  color: #ffffff;
}
.navbar-default .navbar-nav > li > a {
  color: #ffffff;
}
.navbar-default .navbar-nav > li > a:hover,
.navbar-default .navbar-nav > li > a:focus {
  color: #ffaf00;
}
.navbar-default .navbar-nav > li > .dropdown-menu {
  background-color: #333333;
}
.navbar-default .navbar-nav > li > .dropdown-menu > li > a {
  color: #ffffff;
}
.navbar-default .navbar-nav > li > .dropdown-menu > li > a:hover,
.navbar-default .navbar-nav > li > .dropdown-menu > li > a:focus {
  color: #ffaf00;
  background-color: #333333;
}
.navbar-default .navbar-nav > li > .dropdown-menu > li > .divider {
  background-color: #333333;
}
.navbar-default .navbar-nav .open .dropdown-menu > .active > a,
.navbar-default .navbar-nav .open .dropdown-menu > .active > a:hover,
.navbar-default .navbar-nav .open .dropdown-menu > .active > a:focus {
  color: #ffaf00;
  background-color: #333333;
}
.navbar-default .navbar-nav > .active > a,
.navbar-default .navbar-nav > .active > a:hover,
.navbar-default .navbar-nav > .active > a:focus {
  color: #ffaf00;
  background-color: #333333;
}
.navbar-default .navbar-nav > .open > a,
.navbar-default .navbar-nav > .open > a:hover,
.navbar-default .navbar-nav > .open > a:focus {
  color: #ffaf00;
  background-color: #333333;
}
.navbar-default .navbar-toggle {
  border-color: #333333;
}
.navbar-default .navbar-toggle:hover,
.navbar-default .navbar-toggle:focus {
  background-color: #333333;
}
.navbar-default .navbar-toggle .icon-bar {
  background-color: #ffffff;
}
.navbar-default .navbar-collapse,
.navbar-default .navbar-form {
  border-color: #ffffff;
}
.navbar-default .navbar-link {
  color: #ffffff;
}
.navbar-default .navbar-link:hover {
  color: #ffaf00;
}

@media (max-width: 767px) {
  .navbar-default .navbar-nav .open .dropdown-menu > li > a {
    color: #ffffff;
  }
  .navbar-default .navbar-nav .open .dropdown-menu > li > a:hover,
  .navbar-default .navbar-nav .open .dropdown-menu > li > a:focus {
    color: #ffaf00;
  }
  .navbar-default .navbar-nav .open .dropdown-menu > .active > a,
  .navbar-default .navbar-nav .open .dropdown-menu > .active > a:hover,
  .navbar-default .navbar-nav .open .dropdown-menu > .active > a:focus {
    color: #ffaf00;
    background-color: #333333;
  }
}


/*footer-settings*/

.footer-container {
  background-color: #3b3b3b;
  height: 250px;
}

.footer{
  margin-bottom: 0px;
}





a.timeline-button:hover{
  color: #235580;
  text-decoration: none;
}
a.timeline-button{
  color: #3174ae;
}

a{
  color: #000000;
}

a:hover{
  color: #999999;
  text-decoration: none;
}

.btn-default{
  background: #FFFFFF;
  border: solid 1px #999999;
}
.btn:hover{
  background: #999999;
}


.white-bg{
    background:#ffffff !important;
    padding-top: 10px;
    padding-bottom: 10px;
}

.login{
  margin-top: 100px;
}

.drop-shadow {
    -webkit-box-shadow: 0 0 3px 2px rgba(0, 0, 0, .5);
    box-shadow: 0 0 3px 2px rgba(0, 0, 0, .5);
}

.indent-instruct{
  margin-left: 15px;
  margin-right: 15px;
}



.form-condensed{
  margin: 2px;
}

p.comment{
  font-size: 1.1em;
  line-height: 1.3;
}

.app-modal-window-preview .modal-dialog {
  width: 1000px;
}

.modal-dialog{
    overflow-y: initial !important
}
.modal-body{
    height: 700px;
    overflow-y: auto;
}

.modal-body-login{
  padding: 20px;
}

.form-signin{
  padding: 30px;
}



.popover-content {
  width: 100%;
}

.btn.btn-popover{
  background: none;
  border: none;
  padding-right: 0px;
  padding-left: 0px;
}



.btn.btn-popover:hover, .btn.btn-popover:focus, .btn.btn-popover:active, .btn.btn-popover.active, .open > .dropdown-toggle.btn.btn-popover {
  color: none;
  border-color: color;
  box-shadow: none;
  outline: none;
}

.btn.btn-popover:active, .btn.btn-popover.active {
  border-color: none;
  color: none;
  box-shadow: none;
}

.badge-notify{
    position: relative;
    text-align: center;
    top: -15px;
    left: -8px;
    margin-right: -10px;
}

.border-bottom{
  border-bottom: 1px solid #B3B3B3; 
}

.post-list-margin{
  padding-bottom: 30px; 
  margin-bottom: 10px;
}

.add-pad{
  padding-bottom: 25px;
  margin-bottom: 25px;
}


.grid {
    border-width: 0px;
    list-style: none;
    background: #ffffff;
    box-sizing: border-box;
    -moz-box-sizing : border-box;
    -webkit-transition: all 0.6s ease-out;
    transition: all 0.6s ease-out;
}

.message-accordian-header{
  padding-bottom:10px;
}

.stylish-input-group .input-group-addon{
    background: white !important; 
}
.stylish-input-group .form-control{
  border-right:0; 
  box-shadow:0 0 0; 
  border-color:#ccc;
}
.stylish-input-group button{
    border:0;
    background:transparent;
}
