<div class="container">
<pre>{{$ctrl.userData}}</pre>
<pre>{{$ctrl.user}}</pre>
	<div class = "col-lg-4 col-md-6 col-xs-8 col-lg-offset-4 col-md-offset-3 col-xs-offset-2 white-bg login drop-shadow">
      <h1 class="form-signin-heading text-center" style="font-weight: bolder;">Login</h1>
      <br>
    


      <form class = "form-signin" name="authForm" novalidate ng-submit="$ctrl.submitForm();">

          <input
         	class = "form-control"
            type="email"
            name="email"
            required="required"
            placeholder="Enter your email"
            ng-model="$ctrl.user.email">

          <input
	         class = "form-control"
            type="password"
            name="password"
            required="required"
            placeholder="Enter your password"
            ng-model="$ctrl.user.password">

            <br>


         <button class="center-block btn btn-lg btn-primary" type="submit" ng-disabled="authForm.$invalid"> login
				{{ $ctrl.button }}
         </button>

        <div ng-if="$ctrl.message">
          {{ $ctrl.message }}
        </div>

    </form>
    </div>
  </div>
